[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
autobahn = "*"
konfi = "*"
cbor = "*"
yarl = "*"
pyyaml = "*"
aiobservable = "*"

[requires]
python_version = "3.7"

[scripts]
wampli = "python -m wampli"
tests = "python -m pytest"
